%h1= @project.title

- if @project.tickets.any?
  %ul
    - @project.tickets.each do |ticket|
      %li= link_to ticket.title,[@project,ticket]

= link_to "Edit", edit_project_path(@project)
%br
= link_to "Delete Project", project_path(@project), method: :delete
%br
= link_to "Home",root_url
%br
= link_to "New Ticket",new_project_ticket_path(@project)
